.question {
    background-color: rgb(219, 255, 219);
}

.cstmHeader {
    background-color: white;
    margin-bottom: 1em;
}

.cstmBody {
    position: relative;
    top: 8em;
    padding-top: 2em;
}

body {
    background: url('../img/sonar.png') no-repeat right center fixed;
}